{% for slide in site.data.carousel.slides %}
<link rel="preload" as="image" href="{{ item.image }}">
{% endfor %}
<div id="{{ site.data.carousel.id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for slide in site.data.carousel.slides %}
    <div class="carousel-item{% if forloop.first %} active{% endif %}" style="background-image: url('{{ slide.image }}'); background-size: cover; background-position: center; height: 100vh;">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ site.data.carousel.id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ site.data.carousel.id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
